header change{
	font-size: 3.5vh;
}

.projectHead{
	margin: 15vh 5vw 0 5vw;
	top: 0vw;
}

.projectInfo{
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 0 0 .5vh 0;
	margin: 0 0 1vh 0;
}

.projectInfo:first-of-type{
	border-width: .2vw;
	border-color: var(--primary);
	border-style: none none dotted none;
}

.projectFull{
	font-family: "FrGth-DemiCond";
	display: inline-block;
	margin: 1vh 10vw 0 0;
}

.hide{
	display: none;
}

#more{
	font-family: "FrGth-DemiCond";
	background: none;
	color: var(--primary);
	border: none;
	font-size: 2vh;
}

#more:hover{
	cursor: pointer;
	text-decoration: underline;
}


footer a{
	font-size: 1.5vh;
	text-decoration: none;
	color: var(--primary);
}

footer a h2:hover{
	text-decoration: underline;
}


main{
	margin: 0;
}

main h2{
	color: var(--primary);
	font-size: 10vh;
}


main p{
	color: var(--primary);
	font-size: 2vh;
}

main a{
	color: var(--primary);
	font-size: 1.5vh;
}



